/** @format */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
* {
   font-family: 'Manrope', sans-serif;
   margin: 0;
   padding: 0;
}
:root {
   --very-dark-grayish-blue: hsl(217, 19%, 35%);
   --desaturated-blue: hsl(214, 17%, 51%);
   --grayish-blue: hsl(212, 23%, 69%);
   --light-grayish-blue: hsl(210, 46%, 95%);
}

.attribution {
   font-size: 11px;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}
#articlesPreview {
   background: #e7e7e7;
}
#articlesPreview {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
.articlePrev {
   display: flex;
   flex-flow: row nowrap;
   width: 50%;
   border-radius: 10px;
   background-color: #ffffff;
}
img.articleImg {
   width: 350px;
   height: 100%;
   border-radius: 10px 0 0 10px;
}
.articleExcerpt {
   display: flex;
   flex-flow: column;
   padding: 2em 3em;
   justify-content: space-between;
}
.articleBelt {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
/* font setup */
h2.articleTitle,
p.articleText {
   padding: 0 0 0.5em 0;
   text-align: justify;
}
p.articleText {
}

/* Media query */
/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */
